/*COMMON STYLES*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.body-styles {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*COMPONENTS*/
.section-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.list-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*PAGE HEADER*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    align-items: center;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.logo-first-part {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-second-part {
    color: #2E2F42;

}

.menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.contacts-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.item-studio {
    position: relative;
    color: #404bbf;
}

.item-studio::after {
    display: block;
    content: "";
    width: 48px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

/*HERO*/
.haro {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero/bg.jpg);
    background-size: cover;
    background-color: #2e2f42;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.main-titel {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;
    padding-bottom: 0;
}

.service-button {
    background: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.service-button:hover,
.service-button:focus {
    background: #404BBF;
}

/*PECULIARITIES*/
.peculiarities {
    padding-top: 120px;
    padding-bottom: 120px;
}

.peculiarities-list {
    display: flex;
    gap: 24px;
}

.peculiarities-list-title {
    margin-bottom: 8px;
}

.peculiarities-list-item {
    width: calc((100% - 72px) / 4);
}

.peculiarities-icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
}

.peculiarities-icons {
    fill: #2E2F42;
}

/*TEAM SECTION*/
.team-section-title {
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-team-list-item {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-list-title {
    margin-bottom: 8px;
    text-align: center;
}

.team-list-text {
    text-align: center;
    margin-bottom: 8px;
}

.social-team-list {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

.social-team-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.social-team-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team-link:hover,
.social-team-link:focus {
    background-color: #404bbf;
}

.social-team-icons {
    fill: #f4f4fd;
}

/*PORTFOLIO SECTION*/
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-section-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.name-portfolio-list-item {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-title {
    margin-bottom: 8px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item:hover .overlay,
.portfolio-list-item:focus .overlay {
    transform: translateY(0%);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*PAGE FOOTER*/

.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 265px;
}

.footer-logo-container {
    margin-right: 120px;
}


.footer-logo-first-part {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-second-part {
    color: #f4f4fd;
}

.footer-social-text {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.social-footer-list {
    display: flex;
    gap: 16px;
}

.social-footer-item {
    width: 40px;
    height: 40px;
    list-style-type: none;
}

.social-footer-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
    background-color: #31d0aa;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.social-footer-icons {
    fill: #f4f4fd;
}


.footer-subscribe-field {
    box-sizing: border-box;
    margin-left: 80px;
}

.footer-subscribe-title {
    margin-bottom: 16px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-subscribe-input {
    padding: 8px 16px;
    background-color: transparent;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15))
}

.footer-subscribe-input::placeholder {
    color: #FFF;
}



.footer-subscribe-button {
    min-width: 165px;
    height: 40px;
    display: inline-flex;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background: #404BBF;
}

.footer-subscribe-button-icon {
    fill: #fff;
    margin-left: 16px;
}

.footer-subskribe-form {
    display: flex;
    gap: 24px;
}

/*MODAL WINDOW*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    fill: #E7E9FC;
    stroke-width: 1px;
    fill: #2E2F42;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.reviev-form-field-wrapper {
    margin-bottom: 8px;
}

.raviev-form-field-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.reviev-form-input {
    width: 100%;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    transition: border-color 250ms ease-out;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviev-form-input:focus {
    border-color: #4D5AE5;
    outline: transparent;
}

.reviev-form-input:focus+.reviev-form-field-icon {
    fill: #4D5AE5;
}

.reviev-form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}

.reviev-form-input-wrapper {
    position: relative;
}

.reviev-form-field-wrapper-comment {
    margin-bottom: 16px
}

.reviev-form-comment {
    display: block;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 8px 16px;
    resize: none;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviev-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.reviev-form-comment:focus {
    border-color: #4D5AE5;
    outline: transparent;
}

.reviev-form-checkbox-wrpper {
    margin-bottom: 24px;
}

.reviev-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviev-form-checkbox:checked+.reviev-form-checkbox-label>.reviev-form-own-checkbox {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.reviev-form-checkbox-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.reviev-form-privacy-link {
    color: #4D5AE5;
}

.reviev-form-submit-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    padding: 16px 32px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background-color: #4D5AE5;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviev-form-submit-button:hover,
.reviev-form-submit-button:focus {
    background: #404BBF;
}