@media screen and (max-width: 767px) {
    .page-footer {
        background-color: #2e2f42;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .footer-text {
        color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 288px;
    }

    .footer-logo-container {
        margin-bottom: 72px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-logo-first-part {
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
    }

    .footer-logo-second-part {
        color: #f4f4fd;
    }

    .footer-social-container {
        text-align: center;
        margin-bottom: 72px;
    }

    .footer-social-text {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    .social-footer-list {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .social-footer-item {
        width: 40px;
        height: 40px;
        list-style-type: none;
    }

    .social-footer-link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-footer-link:hover,
    .social-footer-link:focus {
        background-color: #31d0aa;
    }

    .social-footer-icons {
        fill: #f4f4fd;
    }

    .footer-subscribe-field {
        box-sizing: border-box;
        text-align: center;
    }

    .footer-subscribe-title {
        margin-bottom: 16px;
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .footer-subscribe-input {
        background-color: transparent;
        width: 288px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 0.04em;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        padding-left: 16px;
    }

    .footer-subscribe-input::placeholder {
        color: #FFF;
    }

    .footer-subscribe-button {
        min-width: 165px;
        height: 40px;
        display: inline-flex;
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 16px;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 4px;
        background: #4D5AE5;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
    }

    .footer-subscribe-button:hover,
    .footer-subscribe-button:focus {
        background: #404BBF;
    }

    .footer-subscribe-button-icon {
        fill: #fff;
        margin-left: 16px;
    }
}

@media screen and (min-width:768px) {
    .page-footer {

        background-color: #2e2f42;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .footer-text {
        color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
    }

    .footer-logo-first-part {
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
    }

    .footer-logo-second-part {
        color: #f4f4fd;
    }

    .footer-social-text {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    .social-footer-list {
        display: flex;
        gap: 16px;
    }

    .social-footer-item {
        width: 40px;
        height: 40px;
        list-style-type: none;
    }

    .social-footer-link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-footer-link:hover,
    .social-footer-link:focus {
        background-color: #31d0aa;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        width: 584px;
        row-gap: 72px;
        column-gap: 24px;
        align-items: baseline;
        padding-left: 16px;
        padding-right: 16px;
    }

    .social-footer-icons {
        fill: #f4f4fd;
    }

    .footer-subscribe-field {
        box-sizing: border-box;
    }

    .footer-subscribe-title {
        margin-bottom: 16px;
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .footer-subscribe-input {
        padding-left: 16px;
        background-color: transparent;
        width: 264px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.04em;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15))
    }

    .footer-subscribe-input::placeholder {
        color: #FFF;
    }

    .footer-subscribe-button {
        min-width: 165px;
        height: 40px;
        display: inline-flex;
        padding-left: 24px;
        padding-right: 24px;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 4px;
        background: #4D5AE5;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
    }

    .footer-subscribe-button:hover,
    .footer-subscribe-button:focus {
        background: #404BBF;
    }

    .footer-subscribe-button-icon {
        fill: #fff;
        margin-left: 16px;
    }

    .footer-subskribe-form {
        display: flex;
        gap: 24px;
    }
}

@media screen and (min-width:1158px) {
    .page-footer {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }

    .footer-logo-container {
        margin-right: 120px;
    }

    .footer-container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        align-items: baseline;
        flex-wrap: nowrap;
        gap: 0;
    }

    .footer-subscribe-field {
        margin-left: 80px;
    }
}